
/* wallpaper */
.wallpaperContainer{
    /* position: absolute; */

    background-image: url("../../public/punkstarr_logo.png");
    background-repeat: repeat;

    justify-content: center;
    align-items: center;

    padding-left: 5%;
}

/* misc */
.text{
    font-size: 25px;
}

.container{
    position: relative;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 95%;

    /* left: 2.5%;
    right: 2.5%; */

    /* height: 100%; */
}

/* content, main */
.contentContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #fff;
    
    align-items: center;
    justify-self: center;

    text-align: center;
}

/* video container */
.videoContainer{
    display: flex;
    align-items: center;
    justify-self: center;

    text-align: center;
    
    
    /* justify-content: space-between; */
    background-color: #735acc;
    color: #fff;
}

.videoDesc{
    flex: .5;
    width: 100%;

    /* gap: 5px; */

    align-items: center;
    justify-self: center;

    text-align: center;
}

.video{
    flex: .5;
    border: none;
    height: 100%;
    width: 100%;
    position: relative;
}

.lineSep{
    flex: 1;
    border: 0;
    /* clear: both;
    display:block; */
    width: 500px;
    height: 1px;             
    background-color: #111; 
}

@media (max-width: 1100px) {

    .nameTitle{
        font-size: 40px;
        padding-bottom: 20px;
    }
    .videoContainer{
        flex-direction: column;
        gap: 20px;
    }
    .videoDesc{
        /* padding-top: 50px; */
        padding: 50px;
    }
    .lineSep{
        width: 80px;
    }

    .sectionContainer{
        flex-direction: column;
        width: 100%;
    }
    .imageContainer{
        width: 100%;
        padding: 0px;
    }
    .gameDescriptionContainer{
        padding: 0px;
        width: 100%;
    }

    .leftDesc{
        width: 100%;
        text-align: center;
    }
    
    .rightDesc{
        width: 100%;
        text-align: center;
    }

    .twoCardContainer{
        flex-direction: column;
    }
    .discordMembersCard{
        flex: 1;
        background-color: #EFE8FF;
    
        width: 100%;
    }
    .redTitle{
        color: #d94a34;
    }
}

@media (min-width: 1100px) /*and (max-width: 1024px)*/ {

    .nameTitle{
        font-size: 72px;
        /* background: linear-gradient(to bottom, #c42100, #c22d10, #4a1105); */
    }
    .videoContainer{
        flex-direction: row;
    }
    .lineSep{
        width: 500px;
    }

    .sectionContainer{
        flex-direction: row;
        width: 90%;
    }
    .imageContainer{
        width: 100%;
        height: 'auto';
        padding: 10px;
    }
    .gameDescriptionContainer{
        padding: 20px;
    }

    .leftDesc{
        flex: 1;
        width: 35%;
        text-align: left;
    }
    .rightDesc{
        flex: 1;
        width: 35%;
        text-align: right;
    }




    .twoCardContainer{
        flex-direction: row;
    }
    .discordMembersCard{
        flex: 1;
        background-color: #EFE8FF;
    
        width: 50%;
    }
    .redTitle{
        color: #d94a34;
        font-size: 50px;
    }

}


/* how to play */
.gameDescriptionContainer{
    display: flex;
    flex-direction: column;
    
    background-color: #EFE8FF;
    width: 100%;

    gap: 40px;

    text-align: center;
    align-items: center;
}


.imageContainer{
    display: flex;
    flex: 1;
}

.sectionContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 40px;
}

.itemDesc{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: left;
    align-items: center;
}

.leftDesc{
    flex: 1;
}

.rightDesc{
    flex: 1;
}

/* about us */
.aboutUsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #fff;
    align-items: center;
    justify-self: center;

    text-align: center;
}

.playSessionsCard{
    background-color: #EFE8FF;
    width: 80%;
    max-width: 80%;
}

.twoCardContainer{
    display: flex;
    gap: 20px;

    align-items: center;
    justify-self: center;

    width: 80%;
    max-width: 80%;
}

.discordMembersCard{
    flex: 1;
    background-color: #EFE8FF;
}

.cardText{
    padding: 70px;
    text-align: center;
}

.redTitle{
    color: #d94a34;
}

/* contact us */
.contactUs{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #fff;
    align-items: center;
    justify-self: center;

    text-align: center;
}

.logoContainer{
    display: flex;
    flex: 1;
    padding: 5px;
}