
/* misc */
.nameTitle{
    font-size: 72px;
    /* background: linear-gradient(to bottom, #c42100, #c22d10, #4a1105); */
}

.text{
    font-size: 25px;
}

.imageContainer{
    display: flex;
    flex: 1;
    padding: 75px;
}

.container{
    position: absolute;

    justify-content: center;
    align-items: center;

    /* height: 100%; */
}

/* content, main */
.contentContainer{
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #fff;
    
    align-items: center;
    justify-self: center;

    text-align: center;
}

/* video container */
.videoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #735acc;
    color: #fff;
}

.videoDesc{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: left;
    align-items: center;
    justify-self: center;
}

.video{
    flex: 1;
    border: none;
    height: 100%;
}

.itemVideo{
    flex: 1;
}

/* how to play */
.gameDescriptionContainer{
    display: flex;
    flex-direction: column;
    
    background-color: #EFE8FF;

    padding: 20px;
    gap: 20px;

    text-align: center;

    align-items: center;

}

.sectionContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 0px;
}

.itemDesc{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: left;
    align-items: center;
}

.leftDesc{
    flex: 1;
    width: 35%;
    text-align: left;
}

.rightDesc{
    flex: 1;
    width: 35%;
    text-align: right;
}

/* about us */
.aboutUsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #fff;
    align-items: center;
    justify-self: center;

    text-align: center;
}

.playSessionsCard{
    background-color: #EFE8FF;
    width: 80%;
}

.twoCardContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;
    justify-self: center;

    width: 80%;
}

.twitterFollowersCard{
    flex: 1;
    background-color: #EFE8FF;

    width: 50%;
}

.discordMembersCard{
    flex: 1;
    background-color: #EFE8FF;

    width: 50%;
}

.cardText{
    padding: 70px;
    text-align: center;
}

/* contact us */
.contactUs{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #fff;
    align-items: center;
    justify-self: center;

    text-align: center;
}

.logoContainer{
    display: flex;
    flex: 1;
    padding: 5px;
}