
/* misc */
.welcomeMsg{
    font-size: 22px;
}

.nameTitle{
    font-size: 72px;
    /* background: linear-gradient(to bottom, #c42100, #c22d10, #4a1105); */
}

.text{
    font-size: 25px;
}

.imageContainer{
    display: flex;
    flex: 1;
    padding: 75px;
}

.lineSeperator{
    flex: 1;
    border: 0;
    /* clear: both;
    display:block; */
    width: 500px;               
    background-color: #111;
    height: 1px;
}

.container{
    position: relative;

    justify-content: center;
    align-items: center;
}

/* content, main */
.contentContainer{
    width: 95%;
    margin: auto;
}

/* wallpaper */
.wallpaper{
    background-image: url("../public/punkstarr_logo.png");
    background-repeat: repeat;

    justify-content: center;
    align-items: center;

}

/* video container */
.videoContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #735acc;
    color: #fff;
}

.videoDesc{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;

    text-align: left;
    align-items: center;
    justify-self: center;
}

.video{
    flex: 1;
    border: none;
    height: 100%;
}

.itemVideo{
    flex: 1;
}

/* how to play */
.gameDescriptionContainer{
    display: flex;
    flex-direction: column;
    
    background-color: #EFE8FF;

    padding: 20px;
    gap: 20px;

    text-align: center;

    align-items: center;

}

.sectionContainer{
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 0px;
}

.itemDesc{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: left;
    align-items: center;
}

.leftDesc{
    flex: 1;
    width: 35%;
    text-align: left;
}

.rightDesc{
    flex: 1;
    width: 35%;
    text-align: right;
}

.playNowButton{
    background-color: #d94a34;
    padding: 20px;
    color: white;
    font-size: 20px;

    width: 15%;
    border-radius: 5%;

    margin-bottom: 40px;
}

/* about us */
.aboutUsContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    background-color: #fff;
    align-items: center;
    justify-self: center;

    text-align: center;
}

.sectionHeading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.playSessionsCard{
    background-color: #EFE8FF;
    width: 80%;
}

.twoCardContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;

    align-items: center;
    justify-self: center;

    width: 80%;
}

.twitterFollowersCard{
    flex: 1;
    background-color: #EFE8FF;

    width: 50%;
}

.discordMembersCard{
    flex: 1;
    background-color: #EFE8FF;

    width: 50%;


}

.discordMembersCardTest{
    flex: 1;
    background-image: url("../public/punkstarr_logo.png");
    background-repeat: repeat;

    filter: blur(3px);

    align-items: center;
    justify-self: center;
}

.cardText{
    padding: 70px;
    text-align: center;
}