.container{
    align-items: center;
    justify-self: center;
}

.contentContainer{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    gap: 20px;

    padding: 40px;

    background-color: #fff;
    
    align-items: center;
    justify-self: center;

    text-align: center;
}

.buttonTable{
    display: flex;
    flex-direction: row;

    gap: 20px;
}