.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #111;
    color: #fff;
}

.imageContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    opacity: 0.8;
    cursor: pointer;
}