.container{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    color: #ccc;

    padding-left: 5%;
    padding-right: 5%;

    /* position: relative; */
}

.imageContainer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon{
    opacity: 0.8;
    cursor: pointer;
}