.button{
    width: 75%;
    height: auto;
    max-height: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #202020;

    display: flex;
    flex-direction: row;
    align-items: center; /* y-axis */

    justify-content: left;

    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.6);
}

.imageContainer{
    padding-left: 20px;
}

.textContainer{
    padding-left: 20px;
    color: white;
    font-size: 20px;
    text-align: left;
}